body{
    color: black;
    background-color: white;
}

h1{
    padding-bottom: 0.5em;
}

h5{
    font-weight: bold;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 590px) {
    form {
        max-width: 100%; /* Establece el ancho máximo del formulario como el 100% del contenedor en pantallas pequeñas */
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 600px) {
    form {
        max-width: 100%; /* Establece el ancho máximo del formulario como el 100% del contenedor en pantallas grandes */
    }
}
