html {
  position: relative;
  min-height: 100%;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
  margin-bottom: 60px;
  background: linear-gradient(to bottom, #58AFA4, #439B8F, #fff);
}

/* Estilos para el título */
h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.contenido{
  padding: 1em;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-bottom: 3em;
}

/* Estilos para el enlace de realizar pedidos */
/*.registro {
  display: block;
  color: black;
  background-color: #439B8F;
  text-decoration: none; /*subrayado
  text-align: center;
  border-radius: 3px;
  margin-top: 1em;
  margin-bottom: 1em;
}*/

div h4{
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

/*Estilos para el enlace de realizar pedidos*/
div .registro {  
  color: transparent;
  background-color: black;
  background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255, 255, 255, 0.5) 25px, rgba(255,255,255,.5) 50px);
  -webkit-background-clip: text;
  background-clip: text;   
  animation: color 50s linear infinite; 
  background-size: 200%;  
  text-align: center;
}

@keyframes color {

  from { 
    background-position: 0% 50%;
  }
  to { 
    background-position: 100% 50%; 
  }
}

/*Estilos para el enlace de realizar pedidos*/
div .contacto {  
  color: transparent;
  background-color: rgb(7, 112, 112);
  background-image: repeating-linear-gradient(45deg,    transparent, transparent 25px,        rgba(255, 255, 255, 0.5) 25px, rgba(255,255,255,.5) 50px);
  -webkit-background-clip: text;
  background-clip: text;   
  animation: color 50s linear infinite; 
  background-size: 200%;  
}

@keyframes color {

  from { 
    background-position: 0% 50%;
  }
  to { 
    background-position: 100% 50%; 
  }
}

.mensaje{
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  text-align: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 590px) {
  form {
      max-width: 100%; /* Establece el ancho máximo del formulario como el 100% del contenedor en pantallas pequeñas */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 600px) {
  form {
      max-width: 100%; /* Establece el ancho máximo del formulario como el 100% del contenedor en pantallas grandes */
  }
}
