@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidad";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacidad</title>

    <link rel="stylesheet" href="~/css/Privacy.css">
</head>
<body>
    <h1>Política de Privacidad</h1>

    <div class="contenido">
        <h5>Fecha de entrada en vigencia: 7/06/2023</h5>
        <p>
            En <b>Tu Pizzería</b>, nos comprometemos a proteger la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, divulgamos y protegemos la información personal que obtenemos a través de nuestra aplicación web, creada con ASP.NET 6.0 con Razor Pages. Al utilizar nuestra aplicación web, aceptas las prácticas descritas en esta política.
        </p>

        <h5>Recopilación de información personal:</h5>
        <p>
            Recopilamos información personal que nos proporcionas cuando interactúas con nuestra aplicación web, como tu nombre, dirección de correo electrónico, número de teléfono, dirección de entrega y preferencias de pizza.
        </p>

        <h5>Uso de la información recopilada:</h5>
        <p>
            Utilizamos la información personal recopilada para procesar tus pedidos, brindarte un servicio eficiente y personalizado, y mejorar la experiencia general del usuario.
        Podemos utilizar tu dirección de correo electrónico para enviarte actualizaciones sobre tu pedido, ofertas especiales, promociones y otras noticias relacionadas con nuestra pizzería. Si no deseas recibir correos electrónicos promocionales, puedes optar por no recibirlos en cualquier momento.
        La información recopilada de forma automática se utiliza para analizar tendencias, administrar la aplicación web, mejorar la funcionalidad y recopilar información demográfica general para uso interno.
        </p>

        <h5>Divulgación de información a terceros:</h5>
        <p>
            No vendemos, intercambiamos ni transferimos de ninguna manera tu información personal a terceros sin tu consentimiento, excepto cuando sea necesario para cumplir con las leyes aplicables, responder a solicitudes legales o proteger nuestros derechos, propiedad o seguridad.
            Podemos compartir información agregada y no identificable personalmente con terceros para fines de marketing, publicidad u otros.
        </p>

        <h5>Protección de la información:</h5>
        <p>Implementamos medidas de seguridad técnicas, administrativas y físicas para proteger tu información personal contra accesos no autorizados, divulgación o destrucción.
        A pesar de nuestras medidas de seguridad, no podemos garantizar la seguridad absoluta de la información transmitida a través de Internet. El uso de nuestra aplicación web es bajo tu propio riesgo.
        </p>

        <h5>Enlaces a sitios web de terceros:</h5>
        <p>
            Nuestra aplicación web puede contener enlaces a otros sitios web de terceros que no están controlados por nosotros. No nos hacemos responsables de las prácticas de privacidad de esos sitios web y te recomendamos leer las políticas de privacidad correspondientes.
        </p>

        <h5>Cambios en esta Política de Privacidad:</h5>
        <p>
            Nos reservamos el derecho de actualizar esta Política de Privacidad en cualquier momento. Te notificaremos cualquier cambio publicando la nueva versión en nuestra aplicación web. Te recomendamos revisar periódicamente esta política para estar informado sobre cómo protegemos tu información.
        </p>

        <h5>Contacto:</h5>
        <p>
            Si tienes preguntas, inquietudes o solicitudes relacionadas con esta Política de Privacidad, puedes ponerte en contacto con nosotros a través de los canales de contacto proporcionados en nuestra aplicación web.       
        </p>

        <p>
            <b>Al utilizar nuestra aplicación web, confirmas que has leído, entendido y aceptado los términos de esta Política de Privacidad.</b>
        </p>

    </div>
    
</body>
</html>
